# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.env/
.venv/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
instructions.txt
